@font-face {
  font-family: "Main";
  src: url(/fonts/font-manrope.ttf);
}

* {
  font-family: "Main";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant-ligatures: none;
}

body {
  overflow-x: hidden;
  background-color: white;
}

::selection {
  background-color: #34cee2 !important;
  color: black;
}

input {
  border-radius: 0;
}