.main {
  min-height: 650px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 3rem;
  overflow-x: hidden !important;
}

.title, .contentTitle {
  text-align: center;
  position: relative;
  top: 2rem;
  font-size: 3.6rem;
}

.disclaimer {
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 95vw;
  gap: 1.5rem;
}

.disclaimerLink {
  color:rgb(45, 150, 255);
  text-decoration: none;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.createNewNoteBtn, .contentNewNoteBtn {
  padding: .7rem 1.3rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  border: solid 1px black;
  color: black;
  border-radius: .3rem;
  transition: 400ms ease;
  transition-property: background-color, color, border-color;
}

.createNewNoteBtn:where(:hover, :focus), .contentNewNoteBtn:where(:hover, :focus) {
  background-color: black;
  color: white;
  border-color: transparent;
}

.contentNewNoteBtn {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.btnIcon {
  font-size: 2rem;
}

/** ACTUAL STYLES NOW **/

.notesContainer, .contentNoteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: calc(100vw - 4rem);
  min-height: fit-content;
  place-items: center;
  position: relative;
  top: 2rem;
  gap: 2.5rem;
}

.note, .category {
  --padding: 2rem;

  width: 22rem;
  height: 25rem;
  max-width: calc(100vw - var(--padding));
  background-color: rgb(189, 222, 255);
  padding: var(--padding);
  border-radius: .7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  overflow: hidden;
}

.category {
  background-color: rgb(215, 208, 147);
  position: relative;
  overflow: visible !important;
  cursor: pointer;
}

.category::before {
  content: '';
  position: absolute;
  top: -2rem;
  left: 0;
  height: 3rem;
  width: 5rem;
  background-color: rgb(215, 208, 147);
  border-radius: .7rem;
}

.category::after {
  content: '';
  position: absolute;
  top: -2.2rem;
  left: 4rem;
  height: 4rem;
  width: 2rem;
  transform: rotate(-45deg);
  background-color: rgb(215, 208, 147);
  border-radius: .7rem;
}

@media (max-width: 810px) {
  .note, .category {
    width: calc(100vw - var(--padding));
  }
}

.categoryDisclaimer {
  font-size: 1.7rem;
  color: rgb(72, 72, 72);
}

.noteTitle {
  font-size: 2rem;
  max-width: 97%;
  display: flex;
  flex-direction: column;
}

.noteCreatedAt {
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
  font-weight: normal;
}

.noteMethods {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: .7rem;
}

.noteIcon {
  cursor: pointer;
  font-size: 1.4rem;
}

.divider {
  background-color: rgba(0, 0, 0, .2);
  height: 2px;
  width: 100%;
}

.modalCategoryName {
  font-size: 1.1rem;
  font-weight: 400;
}

.actualNote {
  font-size: 1.2rem;
  color: rgb(28, 28, 28);
  width: 100%;
  height: 12rem;
  line-break: anywhere;
  overflow: auto;
  white-space: pre-line;
  line-height: 1.2;
}

/** MODAL CODE */

.mainModal {
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: bottom;
  transition: 400ms ease-out;
  transition-property: opacity;
}

.hidden {
  transform: scale(0);
  opacity: 0;
}

.modal {
  padding: 3rem 4rem;
  padding-left: 1rem;
  background-color: white;
  border-radius: .4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  max-width: calc(100vw - 3rem);
  max-height: calc(100vh - 4rem);
  overflow-x: hidden;
  overflow-y: auto !important;
  line-break: anywhere;
}

.modalClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.modalTitle {
  font-size: 2.2rem;
}

.mainModal .noteName {
  font-size: 1.15rem;
  font-weight: 400;
}

.modalInput {
  font-size: 1.2rem;
  padding: .5rem .7rem;
  outline: none !important;
  border: solid 1px black;
  max-width: calc(100% + 2rem);
}

.modalInputArea {
  font-size: 1.2rem;
  padding: .5rem .7rem;
  outline: none !important;
  max-width: calc(100% + 2rem);
  resize: none;
  border: solid 1px black;
  height: 8rem;
}

.modalInput:focus, .modalInputArea:focus {
  border: solid 1px #02c8e3;
}

.modalBtn {
  align-self: flex-end;
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: .2rem;
  margin-top: 1rem;
  padding: .4rem .6rem;
  font-size: 1.2rem;
  cursor: pointer;
  outline: none !important;
  transition: 400ms ease;
  transition-property: background-color, border-color, color;
}

.modalBtn:where(:hover, :focus, :active) {
  background-color: black;
  color: white;
  border-color: transparent;
}

/* maximized note modal code */

.maxModal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
}

.maxModal.hidden {
  display: none;
}

.maxModal .modal {
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  background-color: white;
}

.maxModal .noteName {
  font-size: 3rem;
  text-align: center !important;
  width: 100%;
}

.noteContent {
  white-space: pre-wrap;
  height: 100%;
  border-top: solid 2px black;
  width: 100%;
  padding-left: 1rem;
}

/* share modal code */

.sharePopup {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
}

.sharePopup.hidden {
  display: none;
}

.sharePopup .modal {
  height: 75%;
  width: 50rem;
  max-width: calc(100% - 2rem); 
  background-color: white;
}

.sharePopup .modalTitle {
  line-break: normal;
}

.shareModalGivenLink {
  color: #2d96ff;
  font-size: 1.2rem !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1ch;
}

.shareModalGivenLinkCopy {
  color: black;
  cursor: pointer;
}

/** MARKDOWN STYLES FOR BETTER VISIBILITY */

.actualNote :where(h1, h2, h3, h4, h5, h6), .noteContent :where(h1, h2, h3, h4, h5, h6) {
  width: 90%;
  border-bottom: solid 1px rgba(0, 0, 0, .2);
  margin-top: 1.5rem;
}

.actualNote h1, .noteContent h1 {
  font-size: 2.6rem;
}

.actualNote h2, .noteContent h2 {
  font-size: 2.2rem;
}

.actualNote h3, .noteContent h3 {
  font-size: 2rem;
}

.actualNote h4, .noteContent h4 {
  font-size: 1.6rem;
}

.actualNote h5, .noteContent h5 {
  font-size: 1.4rem;
}

.actualNote h6, .noteContent h6 {
  font-size: 1.2rem;
}

.actualNote hr, .noteContent hr {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.actualNote a, .noteContent a {
  color: #2d96ff;
  text-decoration: underline 2px;
}

.actualNote a:where(:hover, :focus), .noteContent a:where(:hover, :focus) {
  text-decoration: none;
}

.actualNote code, .noteContent code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.actualNote img, .noteContent img {
  max-width: 90%;
  height: fit-content;
}

.actualNote blockquote, .noteContent blockquote {
  border-left: solid 10px rgba(0, 0, 0, 0.3);
  padding-left: 1rem;
  height: fit-content;
  border-radius: .2rem;
}

.noteContent blockquote {
  width: 100%;
  background-color: rgb(212, 212, 212);
}

.actualNote ul li, .noteContent ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .3rem;
}

.actualNote ul li::before, .noteContent ul li::before {
  content: "\2022";
  font-size: 1.7rem;
}

.actualNote ol li, .noteContent ol li {
  counter-increment: ol-counter 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: .3rem;
}

.actualNote ol li::before, .noteContent ol li::before {
  content: counter(ol-counter) ")";
}

.categoryContent {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  background-color: white;
}

.categoryContent[data-hidden] {
  display: none;
}

.categorybackHome {
  position: absolute;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.contentBrief {
  font-size: 1.3rem;
  text-align: center;
  max-width: 95vw;
  margin-top: 2rem;
}

.contentNoteContainer {
  margin-bottom: 2rem;
}